<div class="card card-tabs">

  <div class='card-header'>
    <ul class="nav" id="<%= id %>-tabs-nav" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="<%= id %>-tabs-link-preview" data-bs-toggle="pill" href="#<%= id %>-tabs-content-preview" role="tab" aria-controls="<%= id %>-tabs-content-preview" aria-selected="true">Preview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="<%= id %>-tabs-link-source" data-bs-toggle="pill" href="#<%= id %>-tabs-content-source" role="tab" aria-controls="<%= id %>-tabs-content-source" aria-selected="true">Source</a>
      </li>
    </ul>
  </div>

  <div class="card-body tab-content">
    <div class="tab-pane fade show active" id="<%= id %>-tabs-content-preview" role="tabpanel" aria-labelledby="<%= id %>-tabs-link-preview">
      <div class="bd-example mt-0 border-0 <%= local_assigns.fetch(:preview_class, nil) %>">
        <%= raw code %>
      </div>
    </div>
    <div class="tab-pane fade show" id="<%= id %>-tabs-content-source" role="tabpanel" aria-labelledby="<%= id %>-tabs-link-source">
      <div class="highlight mb-0">
        <pre tabindex="0"><code class="language-html m-0 p-0" data-lang="html" style='background: transparent;'><%= h code %></code></pre>
      </div>
    </div>
  </div>

</div>